

# Byte-compiled / optimized / DLL files
*.py[cod]
*.pyo
*.pyd

# Virtual environment directories
venv/
.env/
ENV/

# Environment variable files
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# OS-specific files
Thumbs.db
.DS_Store


